*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
background: linear-gradient(white, rgb(249, 222, 135));
}
nav .logo{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}

.container{
    max-width: 900px;
    /* background-color: rgb(102 193 102); */
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    /* border-radius: 30p x; */
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: #cbc5c5;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: cener;
    max-width: 800px;
    width: 100%;
}

#messageInp{
    width: 80%;
    border-radius: 2px solid black;
    border-radius: 6px;
    height: 30px;
    margin: 16px 15px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    /* height: 30px; */
    padding: 10px 23px;
}
